<!DOCTYPE html>
<html>
	<head>
	 	<title>Naptivity | Book your stay in a Condo, Loft Anywhere Around The World</title>
	 	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    	<%= csrf_meta_tags %>
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta name="author" content="Lawrence Murry">
    	<meta name="keywords" content="Chicago rental housing near me, chicago rental housing, chicago vacation marketplace, 
    	vacation marketplace in chicago, best marketplace app of 2017, best vacation marketplace app of 2017">
    	<meta name="description" content="Vacation Rentals In Major Cities Near You" />
      <meta name="author" content="Lawrence Murry" />
      <meta name="keywords" content="Chicago's vacation rental destination, book a stay in Chicago, stay with local host in Chicago, 
      book a stay with a local host near me, book a vacation in Chicago, booking accommodations web app, vacation rentals in Chicago, 
      luxury vacation rentals in Chicago, top luxury vacation rental website, vacation accommodations in Chicago, 
      short term housing near Chicago, short term rental housing in Chicago, corporate housing in Chicago, 
      corporate housing solutions in Chicago, guest accommodations in Chicago, vacation rental in Wicker Park, 
      vacation rental in Hyde Park, vacation rental in Bronzeville, vacation rental in Uptown, vacation rental in Gold Coast, 
      vacation rental in River North, vacation rental Near West Side, vacation rental Near South Side, vacation rental in Chintown, 
      vacation rental in Little Italy, vacation rental in Oak Park, vacation rental in Humbolt Park, vacation rental in Bucktown, 
      vacation rental in Streeterville, vacation rental near Wrigly Field, vacation rental near Water Tower, vacation rental near Navy Pier, 
      vacation rental near Willis Tower, vacation rental in Ukrainian Village" />
      <meta name="google-site-verification" content="DO0yqvdoS6_M3JZwnZVhczIRYC58JLcZiIw0CYR7tUI" />
      <meta property="og:site_name" content="Naptivity" />
      <meta property="og:url" content="https://www.naptivity.herokuapp.com" />
      <meta property="og:title" content="New Vacation Rental Startup In Chicago | Host or Book Today!" />
      <meta property="og:description" content="Naptivity is a Vacation Booking Platform where users can host their property or book an accommodation" />
      <meta property="og:type" content="website"/>
      <meta property="og:locale" content="en_US" />
      <meta property="og:image" content="https://s3.amazonaws.com/appforest_uf/f1481909881172x655762533424422100/condos.jpg" />
      <meta name="twitter:card" content="summary" />
      
      <meta name="twitter:url" content="http://www.naptivity.herokuapp.com">
      <meta name="twitter:title" content="Naptivity is a Vacation Rental web app where users can host their property or book an accommodation" />
      <meta name="twitter:image" content="https://s3.amazonaws.com/appforest_uf/f1481909881172x655762533424422100/condos.jpg" />
      <meta property="og:title" content="New Vacation Rental Startup in Chicago | Host or Book Today!"/>
      <meta name="twitter:site" content="@booknaptivity" />
      
      <meta property="og:image" content="https://s3.amazonaws.com/appforest_uf/f1481909881172x655762533424422100/condos.jpg"/>
      <meta property="og:description" content="New Vacation Rental Website - Naptivity. Host your crib or book a stay!"/>
      <meta property="og:url" content="www.naptivity.herokuapp.com" />
      <meta name="p:domain_verify" content="df64a1f43b29d4acb9684604c198f71c"/>
    </head>
    
    <body>
      
      <!-- Google Analytics -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
        ga('create', 'UA-102175078-1', 'auto');
        ga('send', 'pageview');
      
      </script>

       <%= render "shared/navbar" %>
       <%= render "shared/message" %>
        <div class="container">
        	<%= yield %>
        </div> <!-- /container -->
    
    </body>
</html>